<!DOCTYPE html>
<html>
<head>
    <title>YOLOv8 Object Detection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">YOLOv8 Object Detection</h1>
        <form method="POST" action="/predict" enctype="multipart/form-data" class="text-center">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="video" name="video" accept=".mp4">
                <label class="custom-file-label" for="video">Choose a video</label>
            </div>
            <button type="submit" class="btn btn-success mt-3">Detect Number of Objects</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
